<div class="container mt-5">
  <h1>My Movie Lists</h1>

  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= list.name %></h5>
            <%= link_to "View Details", "#", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
