// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// CSS partials
@import "components/index";
@import "components/alert";
@import "components/avatar";
@import "components/form_legend_clear";
@import "components/navbar";

// Custom components here
@import "components/list_card";
@import "components/movie_card";
@import "components/banner";
@import "components/buttons";

// Pages
@import "pages/index";
@import "pages/home";
@import "pages/lists";
